<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="styleSheet" />
    <script defer src="../none.js"></script>
    <title>bird</title>
  </head>
  <body>

    <div id="header">
      <div class="header-column">
        <i onclick="showFunction()" id="header-menu-icon" class="fas fa-bars fa-2x"></i>
        <div class="menu-list" id="menu-dropDown">
          <ul>
            <li>
              <a href="./introducebird.html">bird 소개</a>
              <a href="./sparrow.html">참새</a>
              <a href="./magpie.html">까치</a>
              <a href="./yellowbird.html">노랑턱멧새</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-column">
        <a id="header-bird-a" href="./index.html">
          <h1><i class="fas fa-dove"></i>bird</h1>
        </a>
      </div>
      <div class="header-column">
        <a href="signupbird.html" id="header-signUp" >sign Up</a> <a href="loginbird.html" id="header-login">login</a>
      </div>
    </div>

    <div id="line"></div>

    <div id="imgBox">
      <ul id="imgBox-ul">
        <li class="imgBox-list">
          <a class="img-link" href="./sparrow.html" >
            <img class="imgBox-list__img" src="../img/0.jpg" style="width: 200px; height: 200px;"/>
          </a>
            <span class="imgBox-list__span">참새</span>
        </li>
        <li class="imgBox-list">
          <a class="img-link" href="./magpie.html">
            <img class="imgBox-list__img" src="../img/1.jpg" style="width: 200px; height: 200px;"/>
          </a>
            <span class="imgBox-list__span">까치</span>
        </li>
        <li class="imgBox-list">
          <a class="img-link" href="./yellowbird.html"> 
            <img class="imgBox-list__img" src="../img/2.jpg" style="width: 200px; height: 200px;"/>
          </a>
            <span class="imgBox-list__span">노랑턱맷새</span>
        </li>
      </ul>
    </div>

    <script
    src="https://kit.fontawesome.com/f1d6ea217b.js"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
