<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="styleSheet"/>
    <script defer src="../login.js"></script>
    <script defer src="../none.js"></script>     
    <title>Log In</title>
</head>
<body>

    
    <div id="header">
        <div class="header-column">
            <i onclick="showFunction()" id="header-menu-icon" class="fas fa-bars fa-2x"></i>
            <div class="menu-list" id="menu-dropDown">
                <ul>
                    <li>
                        <a href="./birdintroduce.html">bird 소개</a>
                        <a href="./firstbird.html">참새</a>
                        <a href="./secondbird.html">까치</a>
                        <a href="./thirdbird.html">노랑턱멧새</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-column">
            <a id="header-bird-a" href="./index.html">
                <h1><i class="fas fa-dove"></i>bird</h1>
            </a>
        </div>
        <div class="header-column">
            <a href="signupbird.html" id="header-signUp" >sign Up</a> <a href="loginbird.html" id="header-login">login</a>
        </div>
    </div>

    <div id="line"></div>


    <h1 class="logIn-signUp-header-text">Log In</h1>

    <form id="login-signUp-form" class="login-form">
        <input id="userEmail" name="useremail" type="email" placeholder="Email" required/>
        <input id="userPassword" name="password" type="password" placeholder="Password" required />
        <input type="submit" value="Log In" id="login-submit"/>
    </form>

    <div id="sign-find">
        <a href="./signupbird.html">sign Up?</a> <!--<span>|</span></span><a href="#">Find bird accont Password</a>-->
    </div>

    
    <script src="https://kit.fontawesome.com/f1d6ea217b.js"
    crossorigin="anonymous"></script>
</body>
</html>