<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="styleSheet" />
    <script defer src="../none.js"></script>
    <title>Magpie</title>
</head>
<body>
    
    <div id="header">
        <div class="header-column">
            <i onclick="showFunction()" id="header-menu-icon" class="fas fa-bars fa-2x"></i>
            <div class="menu-list" id="menu-dropDown">
                <ul>
                    <li>
                        <a href="./introducebird.html">bird 소개</a>
                        <a href="./sparrow.html">참새</a>
                        <a href="./magpie.html">까치</a>
                        <a href="./yellowbird.html">노랑턱멧새</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-column">
            <a id="header-bird-a" href="./index.html">
                <h1><i class="fas fa-dove"></i>bird</h1>
            </a>
        </div>
        <div class="header-column">
            <a href="signupbird.html" id="header-signUp" >sign Up</a> <a href="loginbird.html" id="header-login">login</a>
        </div>
    </div>

    <div id="line"></div>

    <div id="introduce">
        <span id="introduce-span">까치</span>
        <p>참새목 까마귀과에 속하는 조류이다. 몸 전체 길이는 46cm이다. 윗면은 푸른 광택이 있는 검은색이고 배는 흰색이다. 어깨에는 흰색 반점이 있다. 날 때 흰색의 첫째날개깃이 뚜렷하게 보인다. 도시와 농촌 등 평지에 살며 우리나라 대표적인 텃새이다. 나무, 전신주 등에 둥지를 틀고 2월부터 번식을 시작한다. 비번식기에는 무리를 지어 생활한다. ‘꺅 꺅 꺅 꺅’하고 운다. 전국에 서식하고 세계적으로는 유라시아 전역에 분포한다.</p>
    
        <a href="https://species.nibr.go.kr/home/mainHome.do?cont_link=009&subMenu=009002&contCd=009002&ktsn=120000002157" target="_blank"> 
            <span class="authorship"> 출처- 국립생활지원관 한반도의 생물다양성 </span>
        </a>
    </div>

    <script
    src="https://kit.fontawesome.com/f1d6ea217b.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>