<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="styleSheet" />
    <script defer src="../none.js"></script>
    <title>Sparrow</title>
</head>
<body>
    
    <div id="header">
        <div class="header-column">
            <i onclick="showFunction()" id="header-menu-icon" class="fas fa-bars fa-2x"></i>
            <div class="menu-list" id="menu-dropDown">
                <ul>
                    <li>
                        <a href="./introducebird.html">bird 소개</a>
                        <a href="./sparrow.html">참새</a>
                        <a href="./magpie.html">까치</a>
                        <a href="./yellowbird.html">노랑턱멧새</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-column">
            <a id="header-bird-a" href="./index.html">
                <h1><i class="fas fa-dove"></i>bird</h1>
            </a>
        </div>
        <div class="header-column">
            <a href="signupbird.html" id="header-signUp" >sign Up</a> <a href="loginbird.html" id="header-login">login</a>
        </div>
    </div>

    <div id="line"></div>

    <div id="introduce">
        <span id="introduce-span">참새</span>
        <p>참새목 참새과에 속하는 조류이다. 몸 길이는 14.5cm이다. 몸의 윗면 전체가 밤색이나 머리가 더 진하다. 등은 갈색 바탕에 검은 줄무늬가 있으며 가슴과 배는 흰색, 옆구리는 옅은 황갈색이다. 턱밑과 턱 아래 부위, 눈앞은 검은색이고 뺨은 흰색 바탕에 짙은 검은색 반점이 있고 뒷목은 흰색의 띠로 몸과 경계를 이룬다. 겨울에는 부리 아랫부분에 노란빛이 나타난다. 흔한 텃새이다. 시가지, 인가, 갈대밭, 풀밭과 농경지 등에서 관찰되며 번식기에는 주로 곤충류를 먹지만 비번식기에는 벼나 풀 씨 등 식물성 먹이를 주로 먹는다. 돌 틈, 오래된 나무 구멍, 처마 밑 등에서 번식한다. 둥지는 주로 마른풀을 이용하여 만들고 알은 4~8개 정도 낳는다. 전국에 서식하며 유라시아의 온대와 아열대에 널리 분포한다</p>
    
        <a href="https://species.nibr.go.kr/home/mainHome.do?cont_link=009&subMenu=009002&contCd=009002&ktsn=120000002157" target="_blank"> 
            <span class="authorship"> 출처- 국립생활지원관 한반도의 생물다양성 </span>
        </a>
    </div>

    <script
    src="https://kit.fontawesome.com/f1d6ea217b.js"
    crossorigin="anonymous">
    </script>
</body>
</html>
