<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="styleSheet" />
    <script defer src="../none.js"></script>
    <title>yellow-throated bunting</title>
</head>
<body>
    
    <div id="header">
        <div class="header-column">
            <i onclick="showFunction()" id="header-menu-icon" class="fas fa-bars fa-2x"></i>
            <div class="menu-list" id="menu-dropDown">
                <ul>
                    <li>
                        <a href="./introducebird.html">bird 소개</a>
                        <a href="./sparrow.html">참새</a>
                        <a href="./magpie.html">까치</a>
                        <a href="./yellowbird.html">노랑턱멧새</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-column">
            <a id="header-bird-a" href="./index.html">
                <h1><i class="fas fa-dove"></i>bird</h1>
            </a>
        </div>
        <div class="header-column">
            <a href="signupbird.html" id="header-signUp" >sign Up</a> <a href="loginbird.html" id="header-login">login</a>
        </div>
    </div>

    <div id="line"></div>

    <div id="introduce">
        <span id="introduce-span">노랑턱멧세</span>
        <p>참새목 멧새과에 속하는 조류이다. 몸 길이는 16cm이다. 몸 전체가 갈색이고 부리가 도톰하고 짧으며 바깥꼬리깃이 흰색인 멧새류의 특징을 가진다. 수컷은 턱밑과 눈 위부터 뒷머리가 짙은 노란색을 띠며, 대조적으로 눈선과 윗가슴은 검은색을 띤다. 얼굴 부분이 노란색과 검은색으로 알록달록하게 보인다. 암컷은 윗가슴과 눈선의 검은색이 없고, 노란색 부분이 흐릿하다. 머리 중앙의 깃털은 가끔 뿔처럼 세워지기도 한다. 산림, 경작지, 습지 주변의 관목 및 덤불에 살며 텃새이다. 산란기는 5월이다. 세력권을 형성하는 번식 시기에는 분산되어 분포하지만 번식이 끝난 후에는 수십 마리까지도 무리를 지어 생활한다. 보통 나무꼭대기나 전깃줄 등 노출된 곳에서 울기 때문에 울음소리가 나는 곳을 확인하면 쉽게 관찰할 수 있다. 전국에 서식하고 세계적으로는 연해주, 중국, 일본에 분포한다. </p>

        <a href="https://species.nibr.go.kr/home/mainHome.do?cont_link=009&subMenu=009002&contCd=009002&ktsn=120000002157" target="_blank"> 
            <span class="authorship"> 출처- 국립생활지원관 한반도의 생물다양성 </span>
        </a>
    </div>

    <script
    src="https://kit.fontawesome.com/f1d6ea217b.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>